.App {
  text-align: center;
  height: 50vh;
  border: 5px solid rgb(189, 189, 218);
  margin: 20vh 30vw;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App input {
  border: 1px solid blue;
  border-radius: 3px;
  background-color: rgb(0, 150, 200);
  color: rgb(0, 0, 150);
}

.App button {
  border: 1px solid blue;
  border-radius: 3px;
  background-color: rgb(0, 150, 200);
}